{% extends "base.html" %}
{% block title %}
    이용약관
{% endblock %}



{% block styles %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/policy.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/term.css') }}">

{% endblock %}


{% block content %}
<div class="container">
    <p>약관 및 정책</p>
    <div class="list_container">
        <button type="button" class="term_title_list" onclick="location.href='#'">4FLEX 이용약관</button>
         <button type="button" class="term_title_list" onclick="location.href='./pay-term'">유료이용약관</button>
         <button type="button" class="term_title_list" onclick="location.href='./email'">E-mail 무단수집거부</button>
         <button type="button" class="term_title_list" onclick="location.href='./legal'">법적고지</button>
         <button type="button" class="term_title_list" onclick="location.href='./privacy'">개인정보처리방침</button>
         <button type="button" class="term_title_list" onclick="location.href='./youth'">청소년 보호정책</button>
    </div>
{% endblock %}