<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

<header class="header navbar sticky-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <!-- 로고 -->
        <a class="navbar-brand text-white" href="{{ url_for('home.index') }}">
            <img class="logo"
                 src="{{ url_for('static', filename='img/logogo.png') }}"
                 alt="logo">
        </a>

        {% if session.get('user') %}
        <a href="{{ url_for('auth.logout') }}" class="action-btn primary ms-3">
            <span>로그아웃</span>
        </a>
        {% else %}
        <a href="{{ url_for('auth.login') }}" class="action-btn primary ms-3">
            <span>로그인</span>
        </a>
        {% endif %}

    </div>
</header>