@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    height: 100%; /* html 높이를 100%로 고정 */
}

ul, ol{
    list-style: none;
}
html {
    height: 100%; /* html 높이를 100%로 고정 */
}
.navbar{
    background-color: black;
    color: white;
}
.nav-item{
    color: white;
}

#wrap {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
     background-color : black;
     color:white;
     padding-top: 15px;
    z-index: 999;
}
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    width: 100%;
    min-height: 100vh; /* height: 100% 대신 min-height: 100vh 추천 */
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header_left{
    height:100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-left: 30px;
}
.logo{
    height:45px;
    margin-left: 30px;
}
.list-group-item{
    background-color: #000;
}
.header_right{
    display: flex;
    flex-direction:row;
    height: 100%;
    margin-right: 30px;
    align-items: center;
}
.list{
    display:flex;
    background-color: #000;
}
.search_box{
    border-radius: 10px;
    margin-right: 5px;
}
footer{
    width: 95%;
    background-color: black;
    height: 350px;
    color: gray;
    font-size: 12px;
    margin: 0 auto;
}

.footer_hr{
    width: 90%;
    background-color: black;
}
.footer_top{
    display: flex;
}
.footer_nav{
    margin-right: 15px;
    font-size: 16px;
}
.footer_nav:hover{
    font-weight: bold;
    cursor: pointer;
}
.footer_middle{
    display: flex;
    flex-direction: column;
}
.footer_middle .list .footer_list::after{
    content: " | ";
}
.fa-brands{
    font-size: 20px;
    margin-right: 20px;
}
.fa-brands:hover{
    font-size: 24px;
}
a {
    text-decoration: none;
    color: gray;
}
.term_title_list{
    border: none;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
    
}

section {
    width: 100%;
    height: 100%;
    font-family: "Noto Sans", sans-serif;
}

h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}


.head_slider {
    width: 100%;
    height: 610px;
    margin: 0 auto;
    border-radius: 40px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
  transition: all 0.3s ease; /* 부드러운 변화 */
}

.swiper-slide:hover {
  /* 마우스 올리면 색상 반전 또는 명도 조절 */
  filter: brightness(1.05);
  transform: translateY(-5%) scale(1); /* 중앙 정렬 유지하며 살짝 커짐 */
}

.swiper-button-next,
.swiper-button-prev {
  transition: all 0.3s ease; /* 부드러운 변화 */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  /* 마우스 올리면 색상 반전 또는 명도 조절 */
  filter: brightness(1.2);
  transform: translateY(-50%) scale(1.1); /* 중앙 정렬 유지하며 살짝 커짐 */
}

/* 기본 화살표 아이콘 숨기기 */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none; /* 또는 content: ''; */
}

.swiper-button-next svg,
.swiper-button-prev svg {
  display: none;
}

.swiper-button-prev {
  background: url('https://www.tving.com/img/icon_slide_left.svg') no-repeat center;
  background-size: 60px;
}

.swiper-button-next {
  background: url('https://www.tving.com/img/icon_slide_right.svg') no-repeat center;
  background-size: 60px;
}

.section_slider .swiper-pagination {
    position: absolute;
    top: -10px !important;    /* 위에서부터의 거리 */
    bottom: auto !important;
    --swiper-theme-color: #ffffff;
}

.section_slider .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
}

.head_slider .swiper-slide {
    width: 95%;
    text-align: center;
    font-size: 18px;
    background: #444;
    overflow: hidden;
    border-radius: 40px;
}


.head_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.head_slider .swiper-pagination {
    --swiper-theme-color: #ffffff;
    margin-left: 780px;
    margin-bottom: 30px;
}

.head_slider .swiper-pagination-bullet {
    width: 12px !important;
    /* 가로 크기 */
    height: 12px !important;
    /* 세로 크기 */

}

.nav_slider {
    width: 100%;
    height: 110px;
    margin: 0 auto;
}

.nav_slider .swiper-slide {
    width: 237px;
    height: 104px;
    margin-top: 5px;
    background: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

.nav_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}


.box1 {
    width: 100%;
    height: 445px;
    margin: 0 auto;
    overflow: visible !important;
}

.box1 .h3 {
    width: 95%;
    height: 35px;
    margin: 0 auto;
}

.box1 .rank_num {
    font-family: "Bangers", system-ui;
    font-size: 120px;
    margin-bottom: -10px;
    margin-right: 20px;   /* 카드와 살짝 겹치는 효과 (유지) */
    letter-spacing: 0px;
    color: #ffffff;
}

.box1 .section_slider .swiper-slide {
    width: auto;
    height: 355px;
    margin-top: 20px;
    padding-top: -15px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 8px;
}

.box1 .section_slider .swiper-slide img {
    display: block;
    width: 245px;
    height: 355px;
    object-fit: cover;
    border-radius: 8px;
}

.box2 {
    width: 100%;
    height: 445px;
    margin: 0 auto;
}

.box2 .h3 {
    width: 95%;
    height: 35px;
    margin: 0 auto;
}

.box2 .section_slider .swiper-slide {
    width: 245px;
    height: 355px;
    margin-top: 20px;
    padding-top: -15px;
    text-align: center;
    font-size: 18px;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.box2 .section_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.box3 {
    width: 100%;
    height: 445px;
    margin: 0 auto;
}

.box3 .h3 {
    width: 95%;
    height: 35px;
    margin: 0 auto;
}

.box3 .section_slider .swiper-slide {
    width: 245px;
    height: 355px;
    margin-top: 20px;
    padding-top: -15px;
    text-align: center;
    font-size: 18px;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.box3 .section_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.box4 {
    width: 100%;
    height: 445px;
    margin: 0 auto;
}

.box4 .h3 {
    width: 95%;
    height: 35px;
    margin: 0 auto;
}

.box4 .section_slider .swiper-slide {
    width: 245px;
    height: 355px;
    margin-top: 20px;
    padding-top: -15px;
    text-align: center;
    font-size: 18px;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.box4 .section_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.box5 {
    width: 100%;
    height: 445px;
    margin: 0 auto;
}

.box5 .h3 {
    width: 95%;
    height: 35px;
    margin: 0 auto;
}

.box5 .section_slider .swiper-slide {
    width: 245px;
    height: 355px;
    margin-top: 20px;
    padding-top: -15px;
    text-align: center;
    font-size: 18px;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.box5 .section_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.box6 {
    width: 100%;
    height: 445px;
    margin: 0 auto;
}

.box6 .h3 {
    width: 95%;
    height: 35px;
    margin: 0 auto;
}

.box6 .section_slider .swiper-slide {
    width: 245px;
    height: 355px;
    margin-top: 20px;
    padding-top: -15px;
    text-align: center;
    font-size: 18px;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.box6 .section_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.box7 {
    width: 95%;
    height: 72px;
    background-color: #191919;
    margin: 0 auto;
    display: flex;
}

.box7 .p_txt1 {
    width: 90px;
    height: 72px;
    display: grid;
    place-items: center;
    color: #737373;
    margin-top: 10px;
}

.box7 .p_txt1 p {
    font-size: 0.8vw;

}

.box7 .p_txt2 {
    width: 550px;
    height: 72px;
    display: flex;
    align-items: center;
    color: #b3b3b3;
    margin-top: 10px;
}

.box7 .p_txt2 p {
    font-size: 0.8vw;
}

.box7 .p_txt2 p:hover{
    filter: brightness(1.3);
}

.box7 .right {
    width: 1200px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.box7 img {
    width: 36px;
    height: 36px;
    filter: invert(30%);
}