.container{
    background-color: black;
}
p{
    color: white;
    padding-left: 30px;
    font-size: 26px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.list_container{
    display: flex;
    flex-direction: row;
    font-size:18px;
    margin-bottom: 0;
    padding-left: 30px;
}
.term_title_list {
background-color:black;
    color: gray;
}
.term_title_list:hover{
    color : white;
}